*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow-y: hidden;
}
.img__three-skeleton{
    overflow: hidden;
    background: white;

    width: 162px;
    height: 241px;
    box-shadow: 
      0 15px 30px 0 rgba(0,0,0,0.05),
      0 5px 15px 0 rgba(0,0,0,.05);
    transition: ease box-shadow 0.3s;
    &:hover {
     box-shadow: 
      0 15px 60px 0 rgba(0,0,0,0.08),
      0 5px 25px 0 rgba(0,0,0,.08);
    }
  }
.h3-skeleton{
    overflow: hidden;
    background: white;
    width: 100px;
    height: 20px;
    box-shadow: 
      0 15px 30px 0 rgba(0,0,0,0.05),
      0 5px 15px 0 rgba(0,0,0,.05);
    transition: ease box-shadow 0.3s;
    &:hover {
     box-shadow: 
      0 15px 60px 0 rgba(0,0,0,0.08),
      0 5px 25px 0 rgba(0,0,0,.08);
    }
}
nav{
    max-width: 1200px;
    width: 100%;
    height: 88px;
    margin: 0 auto;
    border: 3px solid transparent;
    border-top:none ;
    border-radius: 0 0 24px 24px;
    box-shadow: 0px 10px 10px rgb(0, 0, 0, 0.5);
}
.one{
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
a{
    text-decoration: none;
    color: white;
}
li{
    list-style-type: none;
    padding: 24px;
}
input{
    height: 2vh;
    background-color: transparent;
    border: 1px solid gray;
    border-top: 0;
    border-right: 0;
    border-left: 0;
    color: white;
}
img{
    width: 8vw;
}
.lists{
    display: flex;
}
.first__picture{
    position: absolute;
    top: 0;
    height: calc( 100vh );
    width: 100%;
    z-index: -12;
    background-color: rgb(0, 0, 0, 0.6);
}
.img2{
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    z-index: -2222;
}
.movies{
    width: 100%;
    max-width: 1200px;
    height: calc( 100vh - 88px ) ;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    align-items: center;
    color: white;
    flex-direction: column;
    flex-wrap: wrap;
}
.img__three{
    width: 10vw;
    cursor: pointer;
    max-height: 275px;
    height: 100%;

}
h3{
    padding-top: 12px;
}
.img__three:hover{
    transform: scale(1.1);
    transition: all 300ms ease;
    overflow-x: hidden;
}
.img__three:hover{
    box-shadow: 10px 10px 10px black;
    transition: all 300ms ease;
    overflow-x: hidden;
}
.movies__row{
    width: 100%;
}
.drop-year{
    width: 0;
	height: 0;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-bottom: 8px solid rgb(45, 45, 48);
}
.year{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.val{
    text-align: center;
    background: rgb(45, 45, 48);
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 5px;
}
.movies__contain{
    width: calc(100%/5);    
    padding-top: 24px;
    padding-left: 32px;
    padding-right: 2px;
}
#range__filter{

    width: 12rem;

}
.filters{
    display: flex;
    max-width: 1200px;
    align-items: center;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
}
.slider__val{
    position: absolute;
    right: 32rem;
    background-color: transparent;
    padding: 12px;
    border-radius:5px;
    bottom: 50rem;
    color: white;
    font-size: 22px;
    box-shadow: 0px 10px 10px rgb(0, 0, 0, 0.5);;
}
#drop__filter{
    background-color: transparent;
    color: white;
    border: none;
    font: bold;
    box-shadow: 0 10px 2px rgb(0, 0, 0,1);
}
option{
    background-color: black;
}
@media (max-width: 1280px) {
    .movies__contain{
        padding: 0;
        width: calc(100%/3);
    }
    .movies{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .movies__row{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .filters{
        justify-content: space-around;
    }
}
@media (max-width: 425px){
.lists{
    display: none;
}
img{
    width: 12vw;
}
.movies__row{
    padding-top: 2rem;
}
.movies{
    margin-top: 2rem;
    width: 100%;
    flex-direction: column;
}
.movies__contain {
    width: calc(100%/2);
    margin-bottom: 4rem;
}
.img__three{
    width: 20vw;
}
}